@media screen and (min-width: 576px) {
  /* Home page */
  .home input {
    padding: 2%;
  }

  .suggests {
    position: fixed;
    left: 8%;
    right: 8%;
  }

  .suggests li {
    padding: 2%;
  }

  .suggests li img {
    max-width: 13%;
  }

  /* List page */
  .home-link {
    padding: 1%;
  }

  .home-link-container {
    margin: 3%;
  }

  .artist-header,
  .track {
    padding: 1% 2% 1% 2%;
  }

  .artist {
    margin: 2% 10% 2% 10%;
  }
}

@media screen and (min-width: 768px) {
  /* Home page */

  .home input {
    width: 66%;
  }

  .suggests {
    position: fixed;
    left: 15%;
    right: 15%;
    margin-top: 1%;
  }

  .suggests li {
    padding: 1%;
  }

  .suggests li img {
    max-width: 10%;
  }
}

@media screen and (min-width: 1200px) {
  /*Home page */

  .home input {
    padding: 1%;
    width: 46%;
  }

  .suggests {
    position: fixed;
    left: 26%;
    right: 26%;
    margin-top: 0.5%;
  }

  .home-nav a {
    padding: 1%;
  }

  /* List page */

  .home-link-container {
    margin: 3%;
  }

  .artist {
    margin: 2% 20% 2% 20%;
  }
  .artist-header img {
    max-width: 25%;
  }

  /* Lyrics page */
  .lyrics-header {
    margin: 2%;
  }

  .lyrics {
    width: 50%;
    padding: 2%;
  }
}
